@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
ul{
    padding: 0 0;
    width: 100%;
}
a{
    text-decoration: none;
}

h1{
    text-decoration: none;
}
body {
    background: #666;
    font-family: 'Roboto', sans-serif;
}

.container {
    padding-top: 5rem;
    width: 600px;
    margin: auto auto;
}

.card {
    border-radius: 6px;
    background: #fff;
    padding: 1rem;
    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
    text-align: center;
}

.tit{
    color: #42b983;

    box-shadow: 2px 3px 10px rgba(0, 0, 0, .2);
}

.btn {
    color: #42b983;
    border-radius: 99px;
    border: 1px solid #42b983;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.5rem 1.5rem;
    font-weight: 700;
    outline: none;
    background: #fff;
    transition: all 0.22s;
    cursor: pointer;
    margin-right: 1rem;
    &:active {
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
    }
    &:hover {
        cursor: pointer;
        opacity: 0.8;
    }
}


.download{
    color:#42b983 ;
    margin: 20px;
}

.downloadLink{
    text-decoration: none;
    color:#42b983 ;
    font-size:20px;
}